{{!-- Main --}}
<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="d-none d-lg-block col-lg-1 col-xl-1"></div>
    <div class="col-12 col-lg-10 col-xl-10">
      <div class="row">
        {{!-- Bar Chart --}}
        <div class="col-12 my-4">
          <div class="content bg-light shadow rounded p-3">
            <h3 class="text-center">Portfolio Performance</h3>
            <div id="bar-chart-container">
              <canvas id="barChart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        {{!-- Doughnut Graph --}}
        <div class="col-12 col-lg-4 mb-4">
          <div class="content bg-light shadow rounded p-3">
            <h3 class="text-center">Asset Allocation</h3>
            <div id="doughnut-chart-container">
              <canvas id="doughnutChart"></canvas>
            </div>
          </div>
        </div>
        {{!-- Activity Table --}}
        <div class="col-12 col-lg-8 mb-4">
          <div class="content bg-light shadow rounded overflow-auto p-3">
            <h3 class="text-center">Activity Log</h3>
            <table id="activityTable" class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Transaction</th>
                  <th scope="col">Name</th>
                  <th scope="col">Category</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                </tr>
              </thead>
              <tbody>
                {{#each data}}
                <tr>
                  <th scope="row">{{ formatDate date }}</th>
                  <td>{{ transaction }}</td>
                  <td>{{ category }}</td>
                  <td>{{ formatNumber price style="currency" currency="USD" }}</td>
                  <td>{{ quantity }}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="d-none d-lg-block col-lg-1 col-xl-1"></div>
  </div>
</div>

{{!-- Charts.js CDN --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
{{!-- jQuery --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
{{!-- Bootstrap --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{{!-- Chart.js --}}
<script src="assets/js/portfolioChart.js"></script>
<script src="assets/js/doughnutChart.js"></script>