{{!-- Main --}}
<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="d-none d-lg-block col-lg-1 col-xl-1"></div>
    <div class="col-12 col-lg-10 col-xl-10">
      <div class="row">
        {{!-- Line Chart --}}
        <div class="col-12 my-4">
          <div class="content bg-light shadow rounded p-3">
            <h3 class="text-center">Stocks Performance</h3>
            <div class="bar-chart-container">
              <canvas id="stocksLineChart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        {{!-- Purchase  --}}
        <div class="col-12 col-lg-6 mb-4">
          <div class="content bg-light shadow rounded p-3">
            <h3 class="text-center">Purchase</h3>
            <div class="purchase-container">
              <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="purchaseName">Stock Name</label>
                    <input type="text" class="form-control" id="purchaseName" placeholder="Google" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="purchaseSymbol">Stock Symbol</label>
                    <input type="text" class="form-control" id="purchaseSymbol" placeholder="GOOGL" required>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="purchasePrice">Price</label>
                    <input type="number" class="form-control" id="purchasePrice" placeholder="$8.00" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="purchaseQuantity">Quantity</label>
                    <input type="number" class="form-control" id="purchaseQuantity" placeholder="40" required>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="purchaseDate">Date</label>
                    <input type="date" class="form-control" id="purchaseDate" required>
                  </div>
                </div>
                <button id="stockPurchaseBtn" class="btn btn-block text-white stocksBtns"
                  type="submit">Purchase</button>
              </form>
            </div>
          </div>
        </div>
        {{!-- Sell --}}
        <div class="col-12 col-lg-6 mb-4">
          <div class="content bg-light shadow rounded p-3">
            <h3 class="text-center">Sell</h3>
            <div class="sell-container">
              <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="sellName">Stock Name</label>
                    <input type="text" class="form-control" id="sellName" placeholder="Google" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="sellSymbol">Stock Symbol</label>
                    <input type="text" class="form-control" id="sellSymbol" placeholder="GOOGL" required>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="sellPrice">Price</label>
                    <input type="number" class="form-control" id="sellPrice" placeholder="$8.00" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="sellQuantity">Quantity</label>
                    <input type="number" class="form-control" id="sellQuantity" placeholder="40" required>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="sellID">Stock ID#</label>
                    <input type="number" class="form-control" id="sellID" placeholder="1" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="sellkDate">Date</label>
                    <input type="date" class="form-control" id="sellkDate" required>
                  </div>
                </div>
                <button id="stockSellBtn" class="btn btn-block text-white stocksBtns" type="submit">Sell</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        {{!-- Activity Table --}}
        <div class="col-12 mb-4">
          <div class="content bg-light shadow rounded overflow-auto p-3">
            <h3 class="text-center">Activity Log</h3>
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Transaction</th>
                  <th scope="col">Name</th>
                  <th scope="col">Symbol</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">ID</th>
                </tr>
              </thead>
              <tbody>
                {{#each data}}
                <tr>
                  <th scope="row">{{ formatDate date }}</th>
                  <td>{{ transaction }}</td>
                  <td>{{ name }}</td>
                  <td>{{ symbol }}</td>
                  <td>{{ formatNumber price style="currency" currency="USD" }}</td>
                  <td>{{ quantity }}</td>
                  <td>{{ id }}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="d-none d-lg-block col-lg-1 col-xl-1"></div>
  </div>
</div>

{{!-- Charts.js CDN --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
{{!-- jQuery --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
{{!-- Bootstrap --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{{!-- JavaScript --}}
<script src="assets/js/stocks.js"></script>
{{!-- Chart.js --}}
<script src="assets/js/stocksChart.js"></script>